.circulo{
    width: 200px;
    aspect-ratio: 1 /1;
    border: solid 1px black;
    border-radius: 50%;

    /* Centro contenido */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circuloRojo{
    width: 200px;
    aspect-ratio: 1 /1;
    border: dotted 5px red;
    /* border: dashed 5px red; */
    border-radius: 50%;

    /* Centro contenido */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadradoAzul{
    width: 400px;
    height: 400px;
    border: solid 40px blue;
    background-color: pink;
}