body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
        radial-gradient(circle at 20% 20%, red, transparent),
        radial-gradient(circle at 80% 30%, green, transparent),
        linear-gradient(45deg, #ff00cc, #333333);
    height: 100vh;
}

.contenedor_ppal {
    height: 70%;
    width: 90%;
    margin-top: 3em;
    border: 1px solid black;}

input {
    width: 200px;
}
